header{
    height: 37vh;
    width: 100%;
    background:url('../src/images/pattern-bg.png'), no-repeat;
    padding: 2.5em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.ipInput h1{
    text-align: center;
    color: white;
    margin: 1.7em auto 0.7em auto;
}
form{
    width: 37%;
    margin: auto;
    background: white;
    border-radius: 14px;
    display: flex;
    overflow: hidden;
    margin-bottom: 2em;
}
form input, form button{
    padding: 1em;
    appearance: none;
    background: none;
    outline: none;
    border:none;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
}
form input::placeholder{
    font-weight: 500;
    color: var(--darkgray);
}
form button{
    background: black;
    width: 12%;
    transition: 0.5s ease-in all;
    cursor: pointer;
}
form button:hover{
    background: var(--verydarkgray);
}
.ipDetailsMenu{
    margin: auto;
    width: 63%;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    background: white;
    box-shadow: 0px 5px 10px rgba(179, 179, 179, 0.308);
    padding: 0.5em;
    min-height: 120px;
    padding-bottom: 0;
}

.ipDetailsMenu__tab__p{
    margin-bottom: 15px;
    font-size: 90%;
    color: var(--darkgray);
    letter-spacing: 0.17em;
}
.ipDetailsMenu__tab h4{
    font-size: 1.5em;
    font-weight: 500;
}
.ipDetailsMenu__tab{
    width: 25%;
    padding: 1em;
    position: relative;
}
.ipDetailsMenu__tab:nth-of-type(3){
    padding-right: 0;
}
.ipDetailsMenu__tab:nth-of-type(4){
    padding-left: 0;
}

@media screen and (max-width: 600px){
    .ipInput h1{
        font-size: 1.5em;
        margin-bottom: 1em;
    }
    form{
        width: 85%;
        margin: auto;
    }
    .ipDetailsMenu{
        flex-direction: column;
        width: 85%;
        margin-top: 1.5em;
        padding: 1em;
    }
    .ipDetailsMenu__tab{
        width: 100%;
        text-align: center;
    }
    .ipDetailsMenu__tab__p{
        font-weight: bold;
        margin-bottom: 9px;
        font-weight: small;
    }
    .ipDetailsMenu__tab h4{
        font-size: 1.2em;
    }
    form input, form button{
        padding: 1em;
    }
    form button{
        width: 20%;
        top: 0;
    }
    .loader__circle{
        margin-right: 5px;
        width: 25px;
        height: 25px;
    }
    .loader__p{
        margin-top: 20px;
        font-size: 1.2em;
    }
    
}